name: Post pull request comment

on:
  workflow_run:
    workflows: [Report test coverage example]
    types: [completed]

jobs:
  post_pr_comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:

      - uses: kostrykin/post-gh-comment-from-artifact-action@v1.0.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
